/.*.html
/lib
/.autotools
/*~
/x86
/x64
/spec.i
.cproject
/doc/html
/doc/latex
/build
/bin
/*.xml
/*/*.out
/*/*.txt
/*/*.xml

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
# .cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

/include/f77blas.h
/include/cblas.h
/include/lapacke*
/include/openblas_config.h
